.workoutsWrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 600px));
  justify-content: center;
  max-height: 83vh;
  height: max-content;
  flex: 1;
}

.workoutItem {
  max-width: 22rem;
  width: 100%;
  margin: 1em;
}

.workoutItem:last-of-type {
  flex-basis: 100%;
}

.message {
  font-size: 30px;
  color: white;
  font-weight: 900;
}

@media screen and (max-width: 1026px) {
  .workoutsWrapper {
    max-height: 75vh;
  }
}