input {
  padding: 18px 12px;
  border-radius: 5px;
  margin: 0 10px;
  border: none;
}

input[type="number"] {
  max-width: 80px;
  text-align: center;
}

label {
  font-weight: 500;
  font-size: 16pt;
  padding: 0 12px;
  margin: 10px 0;
}