.exerciseRow,
.addSet {
  cursor: pointer;
}

.workoutExerciseRow,
.exerciseRow {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25em;
  border-bottom: 1px solid black;
  font-size: 18pt;
  padding: 18px 18px;
  background-color: #22252a;
}

.exerciseRow:hover {
  background-color: #3d434b;
}

.workoutExerciseRow {
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 18px 0;
}

.workoutExerciseRow header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 12px 18px;
  width: 100%;
}

.workoutExerciseRow > .addSet,
.workoutExerciseRow > .content {
  padding: 12px 18px;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  display: grid;
  grid-template-columns: [set-number] 80px [set-weight] 1fr [set-rep] 1fr [set-del] 20px;
  width: 100%;
}

.workoutExerciseRow > .content {
  padding: 12px 18px 12px 0px;
}

.workoutExerciseRow > .addSet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: none;
}

.workoutExerciseRow > .addSet span {
  margin-left: 12px;
}

.workoutExerciseRow .setNumber {
  text-align: center;  
  position: relative;
}

.workoutExerciseRow .setNumber::after {
  content: '';
  display: block;
  height: 60px;
  width: 1px;
  position: absolute;
  right: 0;
  top: -10px;
  background-color: rgba(33,33,33, 0.6);
}

.workoutExerciseRow .setWeight,
.workoutExerciseRow .setRep {
  text-align: center;
}